.parent {
  width: 180px;
  height: 92vh;
  background-color: #f9dfb4;
}
.panelbar {
  background-color: #f9dfb4;
}
.icons-text {
  display: flex;
  padding: 6px;
  cursor: pointer;
  background-color: #f9dfb4;
}
.icons {
  font-size: 18px;
}

.text-head {
  padding-left: 10px;
  color: #64605a;
  font-weight: 600;
}
.text-span {
  padding-left: 10px;
  color: #64605a;
  font-weight: 400;
}
a:link {
  text-decoration: none;
}
.panel-bar-items {
  padding-left: 10px;
  background-color: #f9dfb4;
}
.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f6ba31;
  display: flex;
  justify-content: center;
  font-size: 9px;
  font-weight: 800;
  padding: 4px;
  color: #8b6817;
  margin-left: 10px;
}
.item-bar {
  width: 100% !important;
  margin-left: -0.3px;
}
.k-panelbar > .k-panelbar-header > .k-link.k-selected {
  background-color: #f9dfb4 !important;
  color: #000000 !important;
}
.k-link {
  background-color: #f9dfb4 !important;
}
.k-panelbar-item-text {
  color: #64605a;
}
.k-panelbar-toggle {
  color: #64605a !important;
}
